*{
    box-sizing: border-box;
    margin: 0px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #000000;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.background-image{
    height: 100svh;
    width: 100svw;
    position: absolute;
    background-image: url('wallpaper.avif');
    background-size: cover;
    z-index: -1;
}
.sign-up-form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: #141419;
    padding: 25px;
    border-radius: 25px;
    border: 1px solid rgb(31, 31, 31);
}
.sign-up-form span{
    padding-top: 3px;
    padding-bottom: 25px;
    font-size: 12px;
    height: 14px;
}
.sign-up-form label{
    padding-bottom: 6px ;
}
.sign-up-form button{
    background-color: #008cff;
    border: none;
    transition: 0.2s;
    margin-top: 20px;
}
.sign-up-form input{
    background-color: #292933;
    border: none;
}
.sign-up-form legend{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 12px;
}
.sign-up-form input, .sign-up-form button{
    height: 50px;
    border-radius: 17px;
}
.sign-up-form input{
    padding-left: 12px;
}
.sign-up-form input:hover{
    outline: 1px solid #494949;
}
.sign-up-form input:active, .sign-up-form input:focus{
    outline: 1px solid #008cff;
}
.sign-up-form label, .sign-up-form .info{
    font-size: 14px;
    color: #838488;
}
.sign-up-form .info{
    padding-bottom: 30px;
}
.address{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.address input{
    min-width: 10px;
}
.address>*{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.sign-up-form button:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.sign-up-form input.invalid{
    background-color: rgb(24, 0, 0);
    outline: 1px solid #b10000;
}
.sign-up-form input.invalid:active, .sign-up-form input.invalid:focus{
    outline: 1px solid #b10000;
}
.sign-up-form input.valid{
    background-color: rgb(0, 13, 20);
    outline: 1px solid #006eff;
}
.sign-up-form input.valid:active, .sign-up-form input.valid:focus{
    outline: 1px solid #006eff;
}
.valid-info{
    color: #006eff;
}
.invalid-info{
    color: red;
}
.pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);
    width: 500px;
    height: 200px;
    background-color: #141419;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px;
    transition: 0.2s;
}
.hidden{
    transform: translate(-50%,200%);
}
.header{
    display: flex;
    justify-content: space-between;
}
.close{
    border: none;
    border-radius: 100px;
    background-color: red;
    color: #2b0000;
    height: 25px;
    width: 25px;
}
.pop-up .pop-up-message{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}